<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mental Health Conversation Card</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<link href="../static/jquery-ui.css" rel="stylesheet">
<script type="text/javascript"src="../static/formElements.js"></script>
<style type="text/css">
#title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}
#subtitle {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
}
#question {
	text-align: right;
	vertical-align: top;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	padding: 8px;
	width: 350px;
	font-weight: bold;
}
#resources {
	font-family: Verdana, Geneva, sans-serif;
}
#logo {
	text-align: right;
}
#radio {
	height: 1em;
	align: center;
	text-align: center;	
	vertical-align: bottom;
	width: 90px;
}
#stateDesc {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	text-align: center;
	width: 90px;
	vertical-align: top;
}
#submitButton {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>
</head>

<body>
<form action="/submit/" method="post">
<table width="900" border="0" align="center">
  <tr>
    <td id="logo"><img src="../static/logo.png" width="186" height="176" /></td>
    <td height="200" colspan="5"><h1 id="title"><strong>Mental Health Conversation Card</strong></h1>
    <p id="subtitle">No data will be collected that can be used to identify participants in conversations.</p></td>
  </tr>
  <tr>
    <td id="question">Your team:</td>
    <td colspan="5"><select name="myTeamID" id="teamList">
    <option value="null">Select...</option>
    <option value="1">1</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="111">111</option>
    <option value="112">112</option>
    <option value="113">113</option>
    <option value="114">114</option>
    <option value="115">115</option>
    <option value="121">121</option>
    <option value="122">122</option>
    <option value="131">131</option>
    <option value="132">132</option>
    <option value="133">133</option>
      </select></td>
  </tr>
  <tr>
    <td id="question">Date of entry:</td>
    <td colspan="5">
    <input name="enteredDate" type="text" disabled="disabled" readonly="readonly" id="enteredDate" value="{{ todaysDate }}" size="12" maxlength="8" /></td>
  </tr>
  <tr>
    <td id="question">When did you hold your mental health conversation?:</td>
    <td colspan="5"><label for="convDate"></label>
    <input name="convDate" type="text" id="datepicker" value="" size="12" maxlength="10" /></td>
  </tr>
  <tr>
    <td id="question">Which team were they from?:</td>
    <td colspan="5"><select name="theirTeamID" id="teamList">
    <option value="null">Select...</option>
    <option value="1">1</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="111">111</option>
    <option value="112">112</option>
    <option value="113">113</option>
    <option value="114">114</option>
    <option value="115">115</option>
    <option value="121">121</option>
    <option value="122">122</option>
    <option value="131">131</option>
    <option value="132">132</option>
    <option value="133">133</option>
      </select></td>
  </tr>
  <tr>
    <td rowspan="2" id="question">How would you rate their mental health state?</td>
    <td id="radio"><input type="radio" name="stateRating" value="1" id="radio" /></td>
    <td id="radio"><input type="radio" name="stateRating" value="2" id="radio" /></td>
    <td id="radio"><input type="radio" name="stateRating" value="3" id="radio" /></td>
    <td id="radio"><input type="radio" name="stateRating" value="4" id="radio" /></td>
    <td id="radio"><input type="radio" name="stateRating" value="5" id="radio" /></td>
  </tr>
  <tr>
    <td id="stateDesc">Very Negative</td>
    <td id="stateDesc">Negative</td>
    <td id="stateDesc">Neutral</td>
    <td id="stateDesc">Positive</td>
    <td id="stateDesc">Very Positive</td>
  </tr>
  <tr>
    <td colspan="6" align="center"><br /><br /><input type="submit" name="submitButton" id="submitButton" value="Submit Conversation" /></td>
  </tr>
  <tr>
    <td colspan="6"><p>For confidential support please contact the <u>Employee Assistance Program</u>.<br />
To view company-wide statistics please visit the <u>Dashboard.</u><br />    
For further information/training please visit  the <u>Woodside DeStigma Homepage.</u></p></td>
  </tr>
</table>
</form>


</body>
</html>
