<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Destigma</title>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='Colour.js') }}"></script>
    <link href="../static/main.css" rel="stylesheet">

    <style>
      .node {
        stroke: #ddd;
        stroke-width: 4px;
      }

      .link {
        stroke: #999;
        stroke-opacity: .6;
      }

      .node text {
        /*pointer-events: none;*/
        font: 10px sans-serif;
      }

      .currentTeam {
        font: 20px;
      }
    </style>
</head>
<body>
  <div id = "container">
  <h1>DeStigma Platform</h1>
  <hr>
  <a href="/form" class="button">Enter mental health conversation</a>

  <div id="controls", class = "control">
    <a id="leadControl">Lead</a>
    <a id="lagControl" class = "active">Lag</a>
  </div>

  <div id="plot"> </div>

  <script>
    
function networkPlot() {
  var width = 700;
  var height = 350;

  var allData = [];
  var curLinksData = [];
  var curNodesData = [];
  var edges = [];
  var linkedByIndex = {};

  var presentLeadIndicator = true;

  // these will hold the svg groups for
  // accessing the nodes and links display
  var nodesG = null;
  var linksG = null;
  var nodeLabelsG = null;

  // references
  var node = null;
  // var link = null;
  var edge = null;
 
  var force = d3.layout.force();

  function network(selection, data) {
    allData = setupData(data);

    var vis = d3.select(selection).append("svg")
      .attr("width", width)
      .attr("height", height)
    linksG = vis.append("g").attr("id", "links");
    nodesG = vis.append("g").attr("id", "nodes");
    textG = vis.append("g").attr("id", "nodeLabels")

    force.size([width, height]);
    setLayout();

    update();
  };

  function update() {
    curNodesData = allData.nodes;
    curLinksData = allData.links;

    force.nodes(curNodesData); 
    updateNodes();

    force.links(edges);
    updateLinks();

    force.start();
  };

  function updateNodes() {
    var node = nodesG.selectAll("node")
      .data(curNodesData)
      .enter().append("g")
      .attr("class", "node")
      .attr("cx", function(d){return(d.x);})
      .attr("cy", function(d){return(d.y);})
      .call(force.drag);
      
    var test = document.getElementById("leadControl");
    var testClass = test.className;
    var presentLead = testClass == "active";

    var circle = node.append("circle")
      .attr("fill", function(d) {if (presentLead) {
        return(d.frequencyColour);
      } else {
        return(d.appraisalColour);
      };})
      .attr("cx", function(d){return(d.x);})
      .attr("cy", function(d){return(d.y);})
      .attr("r", function(d){return(d.radius);})
      .on("mouseover", function(d) {
        d3.select("#currentTeam")
        .text(d.Description)
        .attr("font-size", "40px");
      })
      .on("mouseout", function(d) {
        d3.select("#currentTeam")
        .text("");
      })
      .style("stroke-width", 1.0)
      .call(force.drag);

    circle.append("text")
      .text("weee");
    // node.append("text")
    //   .attr("dx", 12)
    //   .attr("dy", ".35em")
    //   .text(function(d) {return d.Description});

    // node = nodesG.selectAll("circle.node")
    //   .data(curNodesData)
    // //   .enter();

    // var test = document.getElementById("leadControl");
    // var testClass = test.className;
    // var presentLead = testClass == "active";



    // var circle = node.enter().append("circle")
    //   .attr("class", "node")
    //   // .attr("fill", function(d){return(d.frequencyColour);})
    //   .attr("fill", function(d) {if (presentLead) {
    //     return(d.frequencyColour);
    //   } else {
    //     return(d.appraisalColour);
    //   };})
    //   .attr("cx", function(d){return(d.x);})
    //   .attr("cy", function(d){return(d.y);})
    //   .attr("r", function(d){return(d.radius);})
    //   .style("stroke-width", 1.0);

    // var circles = d3.selectAll("circle")
    //   .attr("fill", function(d) {if (presentLead) {
    //     return(d.frequencyColour);
    //   } else {
    //     return(d.appraisalColour);
    //   };})

    // var text = node.append("text")
    //   .attr("dx", 12)
    //   .attr("dy", ".35em")
    //   .text(function(d) {return "woooooo"});
    
    // // if (testClass == "active") {
    // //   console.log("yes");
    // //   circle.attr("fill", function(d){return(d.frequencyColour);});
    // // } else {
    // //   console.log("no");
    // //   circle.attr("fill", function(d){return(d.appraisalColour);});
    // // }
    // node.call(force.drag);
    // node.exit().remove();
  };

  function flash(name, dy) {
  return function() {
    d3.select("#currentTeam").append("text")
        .attr("class", name)
        .attr("transform", "translate(" + d3.mouse(this) + ")")
        .attr("dy", dy)
        .text(name)
      .transition()
        .duration(1500)
        .style("opacity", 0)
        .remove();
  };
}

  function updateLinks() {  
    edge = linksG.selectAll("line.link")
      .data(edges);
    edge.enter().append("line")
      .attr("class", "link")
      .attr("x1", function(d) {return(d.source.x);})
      .attr("y1", function(d) {return(d.source.y);})
      .attr("x2", function(d) {return(d.target.x);})
      .attr("y2", function(d) {return(d.target.y);});

    edge.exit().remove();
  }

  // will switch force to new layout parameters
  function setLayout() {
    force.on("tick", forceTick)
      .charge(-200)
      .linkDistance(100)
  }

  // tick function for force directed layout 
  function forceTick() {
    nodesG.selectAll("circle")
      .attr("cx", function(d){return(d.x);})
      .attr("cy", function(d){return(d.y);});
    nodesG.selectAll("text")
      .attr("cx", function(d){return(d.x);})
      .attr("cy", function(d){return(d.y);});
    edge 
      .attr("x1", function(d) {return(d.source.x);})
      .attr("y1", function(d) {return(d.source.y);})
      .attr("x2", function(d) {return(d.target.x);})
      .attr("y2", function(d) {return(d.target.y);});
  };
  
  // called once to clean up raw data and switch links to
  // point to node instances
  // Returns modified data
  function setupData (data) {
    // init circle radius scale
    var countExtent = d3.extent(data.nodes, function(d){return(d.TeamSize)});
    var circleRadius = d3.scale.sqrt().range([8, 22]).domain(countExtent);
    
    // var appraisalExtent = d3.extent(data.nodes, function(d){return(d.AvgAppraisal)});
    // var darksteelblue = d3.hcl("hsl(207, 44%, 49%)").darker();
    // var circleColour = d3.scale.linear().domain([0, 5]).range([0, 100]);
    var sadColour = "#13200C";
    var happyColour = "#AEF88B"; 

    var infrequentColor = "#1B232F";
    var frequentColor = "#A5C9FE";

    var appraisalColour = d3.scale.linear()
      .domain([0, 5])
      .range([sadColour, happyColour])
      .interpolate(d3.interpolateHcl);

    var frequencyColour = d3.scale.linear() 
      .domain([0, 5])
      .range([infrequentColor, frequentColor])
      .interpolate(d3.interpolateHcl);

    data.nodes.forEach(function(d) {
      d.x = Math.floor(Math.random() * width);
      d.y = Math.floor(Math.random() * height);
      d.radius = circleRadius(d.TeamSize);
      // d.colourFill = appraisalColour(d.AvgAppraisal);
      d.appraisalColour = appraisalColour(d.AvgAppraisal);
      d.frequencyColour = frequencyColour(d.AvgAppraisal);
    });

    // id's -> node objects
    // var nodesMap = mapNodes(data.nodes);

    // switch links to point to node objects instead of id's
    data.links.forEach(function(l) {
      var sourceNode = data.nodes.filter(function(n) { return n.TeamID === l.source; })[0],
          targetNode = data.nodes.filter(function(n) { return n.TeamID === l.target; })[0];
      edges.push({source: sourceNode, target: targetNode});
    });

    // console.log(edges);
    return(data)
  }

  // Helper function to map node id's to node objects.
  // Returns d3.map of ids -> nodes
  // function mapNodes(nodes) {
  //   nodesMap = d3.map();
  //   nodes.forEach(function(n) {
  //     nodesMap.set(n.TeamID, n);
  //   });
  //   return(nodesMap);
  // };
  d3.selectAll("#leadControl").on("click", function(d) {
    d3.selectAll("#leadControl").attr("class", "active");
    d3.selectAll("#lagControl").attr("class", "");
    presentLeadIndicator = true;
    update();
    // console.log(presentLeadIndicator);
  });

  d3.selectAll("#lagControl").on("click", function(d) {
    d3.selectAll("#leadControl").attr("class", "");
    d3.selectAll("#lagControl").attr("class", "active");
    presentLeadIndicator = false;
    update();
    // console.log(presentLeadIndicator);
  });

  return(network);
}  

var chart = networkPlot();
console.log(chart);

d3.json("/data", function(error, data) {
  chart("#plot", data)
});

// d3.selectAll("#controls a").on("click", function(d) {
  
// });

//   d3.selectAll("#layouts a").on "click", (d) ->
//     newLayout = d3.select(this).attr("id")
//     activate("layouts", newLayout)
//     myNetwork.toggleLayout(newLayout)

// $('#Text').click(function () {
//   $('#Text').css('color', 'red')
// });

  </script>
</div>

<div id="currentTeam" style="margin-top:-50px" >team</div>
</body>
</html>