/*
	Minimal CSS
	minimalcss.com
*/

/* Reset */
* { margin: 1em auto 1em; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #f5f5f3;}

/* Layout */
/*body { background-color: #fff; color: #333;	font: 14px/20px "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif; }*/
body {
  font: 14px/20px "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif; text-align: center;
}

#container {
  margin: 0 auto;
  width: 700px;
  text-align: left;
}

#controls {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.control {
  float: left;
  padding-left: 20px;
}

.control a {
  color: black;
  font-size: 12px;
  padding: 5px;
  background: #E2E2E2;
  cursor: pointer;
  margin-right: 3px;
  text-decoration: none;
}

.control a:hover {
  text-decoration: underline;
}

.control a.active {
  color: white;
  background: #555;
}

header { width: 100%; margin: 0 auto; position: relative; padding: 20px 0; border-bottom: 1px solid #ddd; margin-bottom: 20px; }
.logo { font-size: 28px; color: #333; }

nav ul { margin: 0; }
nav ul li { display: inline; margin-right: 20px; font-size: 16px; line-height: 28px; color: #333; }
nav ul li a { color: #333; }

.container { position: relative; text-align: left; width: 960px; max-width: 90%; margin: 0 auto; }

footer { border-top:1px solid #ccc; font-size:11px; line-height:26px; color:#999; }
footer a { color:#999999; }
footer a:hover { color:#105CB6; }
footer ul li { display:inline; list-style:none; padding-left:20px; }

/* Grid */
.row { width: 100%; margin:0 auto 20px auto; display:inline-block; position:relative; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { float: left; margin-right: 2%; }
.row .col-1:last-child, .row .col-2:last-child, .row .col-3:last-child, .row .col-4:last-child, .row .col-5:last-child, .row .col-6:last-child, .row .col-7:last-child, .row .col-8:last-child, .row .col-9:last-child, .row .col-10:last-child, .row .col-11:last-child, .row .col-12:last-child { margin-right: 0; }
.row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.col-1  { width: 6%; }
.col-2  { width: 15%; }
.col-3  { width: 23.5%; }
.col-4  { width: 32%; }
.col-5  { width: 40%; }
.col-6  { width: 49%; }
.col-7  { width: 56.5%; }
.col-8  { width: 66%; }
.col-9  { width: 74%; }
.col-10 { width: 82.5%; }
.col-11 { width: 91%; }
.col-12 { width: 100%;  }

/* Typography */
a { color: #105CB6; text-decoration: none; }
a:hover, a:focus { color: #105CB6; text-decoration: underline; }
a:active { color: #105CB6; }

h1 { font-size: 30px; line-height: 36px; margin-bottom: 20px; }
h2 { font-size: 24px; line-height: 20px; margin-bottom: 20px; }
h3 { font-size: 20px; line-height: 20px; margin-bottom: 10px; }
h4 { font-size: 16px; line-height: 20px; margin-bottom: 10px; }
h5 { font-size: 14px; line-height: 20px; margin-bottom: 20px; }
h6 { font-size: 12px; line-height: 20px; margin-bottom: 20px; }
h1,h2,h3,h4,h5,h6 { color: #333; }

p { margin-bottom: 20px; }

.float-left     { float: left; }
.float-right    { float: right; }
img.float-left  { float: left; margin: 0 20px 20px 0; }
img.float-right { float: right; margin: 0 0 20px 20px; }
img.center 		{ margin: 0 auto; display: block; }

.text-left 	  { text-align: left; }
.text-center  { text-align: center; }
.text-right   { text-align: right; }
.text-justify { text-align: justify; }

/* Misc */
hr { background-color: #ccc; border: 0px; color: #ccc; height: 1px; margin-bottom: 20px; }

pre, code { background-color: #eee; display:block; padding:10px; }

pre {
	margin-bottom: 20px;
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

blockquote { margin: 10px 10px 20px; padding: 9px; background-color: #f8f8f8; color: #666; border-left: 5px solid #ddd; font: 14px/20px Georgia, Times, serif; quotes: "\201C" "\201D"; }
blockquote p { margin: 0; }
blockquote:before { content: open-quote; font-weight: bold; }
blockquote:after  { content: close-quote; font-weight: bold; }

/* List */
ul { margin-bottom: 20px; list-style-position:inside; }
ol { margin-bottom: 20px; list-style-position:inside; }
ul ul, ol ol { margin-bottom:0; }

/* Form */
fieldset { position: relative; border-top:1px solid #ccc; padding: 10px; margin-bottom:20px; }
fieldset legend { font-weight:bold; font-size:16px; padding: 0 5px; }

/* Table */
table { margin-bottom: 20px; width:100%; }
th { font-weight: bold; }
td { text-align: left; }
tfoot { font-style: italic; }

/* Print */
@media print {
	* {
		text-shadow: none !important;
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important;
	}